html {
    height: 100%;
}

body {
    height: 100%;
    content: center;
    background-color: #F39C12;
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

.header  {
    display: flex;
    justify-content: space-around;
    background-color: #C0392B;
}
.thumbnail {
    display:flex;
    justify-content: space-around;
    width:400px;
    height:200px;
    
}
.Gallery {
    background-color:#C0392B;
}